	
    html{
    	scroll-behavior: smooth;
    }

	/* navigation start */
	#nav-li a:not(#drop-a){
		border-top:1px solid white;
		border-bottom:5px solid  #ffc107;
		transition: 1s;
	}

	#nav-li a:hover:not(#drop-a){
		border-top:1px solid  #ffc107;;
		border-bottom:5px solid white;
		border-radius: 40px 0px 40px 0px;
		transition: 0.2s;
	}
	/* navigation start */


	/* section head start */
	.head-img{
		width: 100%;
		position: relative;
	}

	.head-img img{
		width: 100%;
		height: 600px;
	}

	 .head-t{
    	width: 100%;
    	height: 100%;
    	position: absolute;
    	top: 0;
    	right: 0;
    	bottom: 0;
    	left: 0;
    	opacity: 0;
    	background-color: rgba(1,1,1,0.6);
    	transition: all 2s;
    }

    .heading{
    	font-weight: bolder;
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%,-50%);
        font-size: 80px;
    	font-family: 'Ceviche One', cursive;
    	color:  #ffc107;
    }

    .head-img:hover .head-t{
    	opacity: 1;
    	transition: all 1s;
    }
	/* section head start */

	/* section about start */
    .a-us span{
    	font-weight: bolder;
    	font-size: 18px;
    	color:  #ffd633;
    }

    .a-us h2{
    	font-weight: bolder;
    }

    .a-img{
    	width: 100%;
    	border-radius: 10px;
    	box-shadow: 0 4px 8px 0 rgba(1,1,1,0.8);
    }

    .a-img img{
    	width: 100%;
    	height: 350px;
    	border-radius: 10px;
    }
    /* section about start */


    /* footer start */
    .foot-info{
    	width: 100%;
    }
    
    .fab{
    	font-size: 22px;
    }

    .u-link ul li{
    	line-height: 2;
    }

    .input[type=email]{
    	width: 100%;
    	padding: 5px 0;
    }

    .sub{
    	cursor: pointer;
    }
    /* footer end */


    /* media query start */
    /* media query for max-width:1199px; */
    @media (max-width: 1199px){
        .container{
            max-width: 100%;
        }


        .head-img img{
            width: 100%;
            height: 500px;
        }

        .heading{
            font-weight: bolder;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-size: 60px;
        }
    }


    /* media query for max-width:991px; */
    @media (max-width: 991px){

        #nav-li a:not(#drop-a){
            border-top:1px hidden #fff;
            border-bottom:2px hidden #fff;
            transition: 1s;
            color: rgba(0,0,0,0);
            background-color:#ffc107;
        }

        #nav-li a:hover:not(#drop-a){
            background-color:#ffc107;
            border-top:1px hidden #fff;
            border-bottom:2px hidden #fff; 
            border-radius:40px;
            transition: 0.2s;
            color: rgba(0,0,0,1);
        }

        .form-inline{
            width: 100%;
        }

        #n-input{
            width: 50%;
        }

        #n-btn{
            width: 40%;
        }

        .head-img img{
            width: 100%;
            height: 500px;
        }

        .heading{
            font-weight: bolder;
            position: absolute;
            top: 50%;
            left: 30%;
            transform: translate(-10%,-50%);
            font-size: 60px;
        }

        .a-us p{
            text-align: justify;
        }


        .a-img img{
            width: 100%;
            height: 400px;
            border-radius: 10px;
        }
    }

    
    /* media query for max-width:767px; */
    @media (max-width: 767px){

        /* navigation start */
         #nav-li a:not(#drop-a){
            border-top:1px hidden #fff;
            border-bottom:2px hidden #fff;
            transition: 1s;
            color: rgba(0,0,0,0);
            background-color:#ffc107;
        }

        #nav-li a:hover:not(#drop-a){
            background-color:#ffc107;

            border-top:1px hidden #fff;
            border-bottom:2px hidden #fff; 
            border-radius:40px;
            transition: 0.2s;
            color: rgba(0,0,0,1);
        }

        .form-inline{
            width: 100%;
        }

        #n-input{
            width: 50%;
        }

        #n-btn{
            width: 40%;
        }

        /* head section start*/
        .head-img img{
            width: 100%;
            height: 400px;
        }

        .heading{
            font-weight: bolder;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-size: 40px;
        }

        .a-us span p, h2{
            text-align: center;
        }

        .a-us span p{
            font-weight: bold;
        }

        /* footer section start */
        .a-info, .social, .use-link{
            padding-bottom: 20px;
        }
    }



    /* media query for max-width=575px;*/
    @media (max-width: 575px){
        /* navigation start */
         #nav-li a:not(#drop-a){
            border-top:1px hidden #fff;
            border-bottom:2px hidden #fff;
            transition: 1s;
            color: rgba(0,0,0,0);
            background-color:#ffc107;
        }

        #nav-li a:hover:not(#drop-a){
            background-color:#ffc107;

            border-top:1px hidden #fff;
            border-bottom:2px hidden #fff; 
            border-radius:40px;
            transition: 0.2s;
            color: rgba(0,0,0,1);
        }

        /* head section start*/
         .head-img img{
            width: 100%;
            height: 300px;
        }
        
        .heading{
            font-weight: bolder;
            position: absolute;
            top: 50%;
            left: 30%;
            transform: translate(-10%,-50%);
             font-size: 35px;
        }

        .form-inline{
            width: 100%;
        }

        #n-input{
            width: 50%;
        }

        #n-btn{
            width: 40%;
        }

        /* about section */
        .a-us span p, h2{
            text-align: center;
        }

        .a-us span p{
            font-weight: bold;
        }

    }

    

